@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import 'antd/dist/antd.css';

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.album-container {
  padding-top: 50px;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.album-tile {
  width:200px;
  height:275px;
}

.top-bar-text {
  font-size: 30px;
  font-weight: 700;
  font-family: sofia-pro,sans-serif;
  letter-spacing: -2px;
  word-spacing: -2px;
}

.vertical-bar {
  width: 15px;
  background-color: royalblue;
  height: 20%;
  animation: up-and-down 1s 0s infinite;
  position: absolute;
}

.vertical-bar:nth-child(1) {
  animation-delay: -1.9s
}
.vertical-bar:nth-child(2) {
  animation-delay: -2s
}
.vertical-bar:nth-child(3) {
  animation-delay: -2.3s
}
.vertical-bar:nth-child(4) {
  animation-delay: -2.4s
}

@keyframes up-and-down {
  100% {
    height: 90%;
  }
  75% {
    height: 75%
  }
  50% {
    height: 60%
  }
  25% {
    height: 30%
  }
  0% {
    height: 60%
  }
}

.ant-input {
  margin: 0;
}

.searchBar {
  padding-top: 50px;
}