@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import 'antd/dist/antd.css';

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
